<h2>Dự báo thời tiết</h2>

<input [(ngModel)]="city" placeholder="Nhập tên thành phố" />
<button (click)="fetchWeather()">Xem thời tiết</button>

<div *ngIf="isLoading">⏳ Đang tải dữ liệu...</div>

<div *ngIf="weatherData">
  <h3>{{ weatherData.name }}</h3>
  <p>Nhiệt độ: {{ weatherData.main.temp }} °C</p>
  <p>Thời tiết: {{ weatherData.weather[0].description }}</p>
  <p>Độ ẩm: {{ weatherData.main.humidity }}%</p>
</div>

<div *ngIf="error">
  <p style="color:red">{{ error }}</p>
</div>

<div *ngIf="weatherData$ | async as weather">
  <h3>{{ weather.name }}</h3>
  <p>
    Nhiệt độ: 
    <span [appHighlightTemp]="weather.main.temp">
      {{ weather.main.temp }}°C
    </span>
  </p>
  <p>Thời tiết: {{ weather.weather[0].description }}</p>
</div>


<div *ngIf="weatherData$ | async as weather">
  <h3>{{ weather.name }}</h3>
  <p>
    Nhiệt độ: 
    <span [appHighlightTemp]="weather.main.temp">
      {{ weather.main.temp }}°C / {{ weather.main.temp | celsiusToFahrenheit }}
    </span>
  </p>
</div>

